* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-family: "Poppins", sans-serif;
  color: #fff;
  background-color: #232830;
}

a:link,
a:visited {
  color: #fff;
  text-decoration: none;
}

.container {
  max-width: 128rem;
  margin: 0 auto;
}

.header {
  height: 20rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header__logo {
  height: 4.5rem;
  font-size: 3rem;
}
.header .header_menu {
  height: 3.6rem;
  font-size: 2.4rem;
  color: #fff;
}
.header .header_menu a {
  display: inline-block;
  margin-right: 3.6rem;
}
.header .header_menu a:last-child {
  margin-right: 0;
}

.main {
  border-bottom: 0.3rem solid rgba(77, 77, 77, 0.2);
}
.main .hero {
  max-width: 100vw;
  text-align: center;
  border-bottom: 0.3rem solid #4d4d4d;
  margin-bottom: 1.6rem;
}
.main .hero .hero__img {
  height: 20rem;
  width: 20rem;
}
.main .hero .hero__title {
  margin-bottom: 1.7rem;
  color: #ff7575;
  font-size: 7rem;
  font-style: italic;
  font-family: "Recursive";
}
.main .hero .hero__desc {
  font-size: 3rem;
  margin-bottom: 10rem;
}

.categories {
  display: flex;
  align-items: center;
  margin-bottom: 10rem;
}
.categories .categories__show-switch {
  height: 2.4rem;
  margin-right: 4rem;
}
.categories .categories__items {
  display: flex;
  gap: 3.4rem;
  color: #909090;
  font-size: 2.7rem;
}
.categories .categories__items a {
  color: inherit;
}

.articles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.7rem;
  margin-bottom: 13.2rem;
}
.articles .article {
  max-width: 40rem;
  height: 44rem;
  padding: 2.6rem;
  border-radius: 2.2rem;
  border: 1px solid #252930;
  background: #fff;
}
.articles .article .article__cover {
  width: 34rem;
  height: 16rem;
  border-radius: 2.2rem;
  background: lightgray 50%/cover no-repeat;
  margin-bottom: 3.3rem;
}
.articles .article .article__title {
  color: #0f1217;
  font-size: 1.9rem;
  font-weight: 600;
  margin-bottom: 1.3rem;
}
.articles .article .article__desc {
  color: #0f1217;
  font-size: 1.6rem;
  margin-bottom: 2.4rem;
}
.articles .article .article__footer {
  display: flex;
  align-items: center;
}
.articles .article .article__date,
.articles .article .article__category-text {
  display: inline-block;
  color: #0f1217;
  font-size: 1.6rem;
}
.articles .article .article__date {
  margin-right: 1.7rem;
}
.articles .article .article__category-text {
  margin-left: 2.65rem;
}
.articles .article .article__icon-ellipse {
  width: 0.3rem;
  height: 0.3rem;
}

.pages {
  margin: 0 auto;
  font-family: "Recursive";
  font-size: 2.5rem;
  font-style: italic;
  display: flex;
  gap: 4.3rem;
  justify-content: center;
  margin-bottom: 15.7rem;
}

.footer {
  color: #fff;
  font-family: "Source Sans Pro";
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  padding: 3rem 0 12.7rem;
}
.footer .footer__title {
  font-size: 3rem;
}
.footer .footer__author {
  margin-left: 2.9rem;
  display: inline-block;
}
.footer .footer__author,
.footer .follow {
  line-height: 3.4rem;
  font-size: 1.9rem;
  background-color: #4699e0;
  border-radius: 0.5rem;
  padding: 1rem;
}
.footer .follow {
  display: flex;
  align-items: center;
}
.footer .follow__followed {
  margin-left: 1rem;
}

/*# sourceMappingURL=style.css.map */
